<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="js/vendor/jquery.js"></script>
    <!-- <script src="js/vendor/underscore.js"></script> -->
    <!-- <script src="js/vendor/backbone.js"></script> -->
    <script src="js/vendor/angular-1.6.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div ng-app="accounts" ng-controller="accountsController">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Accounts</h1>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Owner</th>
                  <th>Balance</th>
                  <th>Amount</th>
                  <th>Overdraw</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Transferee</th>
                  <th></th>
                  <th></th>
                </tr>
              </thread>

              <tbody>
                <tr ng-repeat="account in accounts">
                  <td>{{account.owner}}</td>
                  <td>{{account.type}}</td>
                  <td>{{account.balance}}</td>
                  <td>{{account.overdraw}}</td>
                  <td>
                    <input type="number" name="change_amount" ng-model="account.change_amount" ng-minlength="0.01" class="form-control">
                  </td>
                  <td>
                    <input type="button" name="add" ng-click="add(account)" value="Add", class="btn btn-primary btn-sm">
                  </td>
                  <td>
                    <input type="button" name="subtract" ng-click="subtract(account)" value="Subtract", class="btn btn-danger btn-sm">
                  </td>
                  <td>
                    <select name="transferee" ng-model="account.transferee" class="form-control">
                      <option value=""></option>
                      <option ng-repeat="a in accounts" ng-value="a.$$hashKey" ng-if="a.$$hashKey!=account.$$hashKey">{{a.owner}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="button" name="transfer" ng-click="transfer(account)" value="Transfer", class="btn btn-warning btn-sm">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
